<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link href="{{ url_for('static',filename='styles/forms.css') }}" rel="stylesheet">
</head>
<body>

<div class="login">
    <h2>Log In</h2>

    <form action="{{ url_for('login') }}" method="post">
        <div class="msg">{{ msg }}</div>
        <label for="username"> Username: </label><input id="username" name="username" placeholder="Enter Username"
                                                        type="text">
        <label for="password"> Password: </label><input id="password" name="password" placeholder="Enter Password"
                                                        type="password">
        <button type="submit">Sign In</button>
    </form>

    <p>Don't have an account?</p>
    <button onclick="window.location.href='/register';">Register</button>

</div>

</body>
</html>