<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="{{ url_for('static',filename='styles/forms.css') }}" rel="stylesheet">
</head>
<body>

<div class="login">
    <h2>Register</h2>
    <form action="{{ url_for('register') }}" method="post">
        <div class="msg">{{ error }}</div>
        <label for="username"> Username: </label><input id="username" name="username" placeholder="Enter Username"
                                                        type="text">
        <label for="password"> Password: </label><input id="password" name="password" placeholder="Enter Password"
                                                        type="password">
        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account?</p>
    <button onclick="window.location.href='/';">Log In</button>

</div>


</body>
</html>